html, #root{
  height:100%;
}
p, ul{
  margin:0px;
  padding:0px;
}
body {
  height:100%;
  margin: 0;
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.profile-link {

  font-family: Avenira;
  color:black;
  font-size: 22px;
  font-weight:800px;
  padding: 5px 0;
}

.profile-link:hover{
  margin:0px 60px 0px 60px;
  padding-bottom:3px;
  color:aqua;
  border-bottom: 2px solid lightblue;
  cursor:pointer;

}
.info p  {
 
  font-size: 11px;
 font-weight: bold;
}

.SideBarMenu{
  width: 20%;
  height: 100%;
  float: left;
  background-color: #F0F0F0;
}
.main{

    width: 80%;
    float: left;

}
.tools{
    margin-left: 50px;
    padding-top: 80px;

}
.basic-info{
  margin: 0px 50px;
  padding:32px;
}
@media screen and (max-width: 850px) and (min-width: 310px) {
  .info p  {
     font-size: 7px;

  }

  .profile-link{
    font-size:12px;
  }
  .profile-link:hover{
    margin:0px 8px 0px 8px;
    padding-bottom:3px;
    color:aqua;
    border-bottom: 2px solid lightblue;
    cursor:pointer;
  
  }
  .basic-info{
 
    padding:24px;
  }    
}
@media screen and (max-width: 1300px) and (min-width: 850px) {
  .profile-link{
    font-size:14px;
  }
  .profile-link:hover{
    margin:0px 6px 0px 6px;  
  }
      
}

@media screen and (max-width: 593px) and (min-width: 390px) {
  .SideBarMenu{
    width: 30%;
  }
  .main{
        width: 70%;
    }
  .main h3{
    font-size:16px;
  }
  .main h2{
    font-size:18px;
  }
  .main h4{
    font-size:14px;
  }
  .main p, li,span{
    font-size:12px;
  }
  .tools{
    padding-top: 30px;
  }
 
}


@media screen and (max-width: 768px) and (min-width: 594px) {

  .tools{
    padding-top: 10px;
  }
  .main h3{
    font-size:16px;
  }
  .main h2{
    font-size:18px;
  }
  .main p, li,span{
    font-size:12px;
  }
}

@media screen and (max-width: 976px) {

  .main p, li,span{
    font-size:12px;
  }
}